.form {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

h3 {
  margin-bottom: 1rem;
}

.form input {
  margin-bottom: 1rem;
}
